* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    background-color: #e34f152b;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: #6d280c;
    font-family: 'Rubik', sans-serif;
}

.nav-link:hover {
    color: rgb(236,111,32)
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgb(236,111,32);
    margin-right: -35px;
}

.btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 60px;
    background:  rgb(234, 120, 48);
    color: white;
    font-weight: 700;
}

.main {
    background: url('images/background-pic.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}

.main h1 {
    font-weight: 700;
    color: #381304;
    text-shadow: 2px 2px #fff8f594;
    font-family: 'Merienda', cursive;
}

.btn1 {
    height: 45px;
    width: 25%;
    border: none;
    outline: none;
    background-color:  rgb(236,111,32);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

button:hover {
    background-color:  rgb(190, 79, 10);
}

footer {
    background-color: rgb(36, 14, 8);
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    position: static;
    bottom: 0;
}

.item {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.item:hover {
    box-shadow: 2px 2px 2px 2px rgba(68, 66, 65, 0.267);
}

.title {
    color: #6d280c;
    font-weight: 800;
}

.donuts-page h6,
.coffee-page h6 {
    color: #6d280c;
    font-weight: 700;
}

.donuts-page p,
.coffee-page p {
    color: rgb(59, 56, 56);
    font-size: 14px;
}

.about-page {
    background-color: rgb(249,166,26)
}

.about-page p {
    color: #5c2916;
    font-family: 'Merienda', cursive;
    font-weight: 800;
    padding: 20px;
    line-height: 2;
    font-size: 20px;
}

.about-page img {
    border-radius: 10px;
}

.contact-page {
    background: url('images/jco-store.webp') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}

.contact-page .container {
    opacity: 90%;
}




